#mpdlist {

	margin-bottom: 45px;

	.top {
		td {
			color: $active !important;

			a, a:link, a:active, a:visited {
				color: $active;
			}

			.badge {
				background: $active;
				color: $bg;
			}

			a:hover {
				color: white;
			}

		}
	}

	.track-lst {
		tr {
			th {
				text-align: center;
				background: $grey2;
				border-left: 3px solid $grey1;
				padding: 2px 0;
				a {
					// display: block;
					width: 100%;
				}
				
				&:first-child {
					border-radius: 50px 0 0 50px;
					border-left: none;
				}

				&:last-child {
					border-radius: 0 50px 50px 0;
				}
			}

			td {
				border-bottom: 1px dashed $grey2;
			}
		}
	}


}

	.tracks {
		table {
			tbody {
				tr {
					td {
						&:first-child {
							width: 20%;
							color: $grey3;
						}

						&:nth-child(2) {
							width: 70%;
							color: $green;
						}

						&:last-child {
							width: 10%;
							text-align: center;
						}
					}
				}
			}
		}
	}

	.artists {
		table {
			tbody {
				tr {
					td {
						&:first-child {
							width: 10%;
							color: $grey3;
						}

						&:nth-child(2) {
							width: 80%;
							color: $green;
						}

						&:last-child {
							width: 10%;
							text-align: center;
						}
					}
				}
			}
		}
	}

	#top-artist, #top-track, #artist, #timestamps {
		background-color: black;
		h2 {
			font-weight: bold;
		}

		p {
			color: $green;
			span {
				color: $grey3;
			}
		}
	}