#timestamps {
	// border: 1px solid $active;
	.info {
		// margin: 10px 0;
		margin: 0;
		border: none;
		padding: 15px;
		background: black;

		h2 {
			padding: 10px 0;
			font-family: 'Unica One', cursive;
			font-weight: bold;
			
			a, a:link, a:active, a:visited {
				color: $playing;
			}
			
			a:hover {
				color: white;
			}
		}
	}
}

.timestamp-lst {
		ol {
		list-style-type: none;
		list-style-position: inside;

		background: $grey1;
		// padding: 15px;

		li {
			font-family: 'Roboto Mono', monospace;
			font-size: 12px;
			margin-left: 10px;
			color: $grey3;
			
			&:first-child {
				color: $fg;
				font-size: 16px;
				// margin-left: 0;
				
			}
		}
	}
}