// Colors:

$grey1: #2e3436;
$grey2: #3b4245;
$grey3: #999999;
$grey4: #acacac;
$grey5: #bfbfbf;
$grey6: #dfdfdf;
$grey7: #e6e6e6;
$grey8: #ffffff;

$bg: $grey1;
$fg: $grey5;

$active: #ffd573;
$playing: #cfaccc;
$playing-unactive: #292229;

$teal: #68a6a8;
$green: #6fa868;

//

$content: 836px;