<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
	</head>
	<body>
		<header>
			<a class="return" href="{{ url_for('index') }}"><span class="fas fa-angle-left"></span>Return</a>
			<span>/</span>
			<a class="return" href="{{ url_for('readmpdlist', page=1, sort='played', asc=0)}}">Tracks</a>
			<span>/</span>
			<a class="return" href="{{ url_for('getArtistList', page=1, sort='played', asc=0) }}">Artists</a>
			<span>/</span>
			<h1>{{ title }}</h1>
		</header>

		<section id="artist">

			<div class="info">
				<h2>ARTIST: <span>{{ artist }}</span></h2>
				<p>Number of tracks: <span>{{ played }}</span></p>
				<p>Total number of played songs: <span>{{ total }}</span></p>
			</div>

		</section>

		<section id="selected-artist-lst" class="info">
			<table class="track-lst">
				<th><a class="{% if sort == 'id' %} active {% endif %}" href="{{ url_for('getArtist', artist=artist, page=page, sort='id', asc=rev) }}">id</a></th>
				<th><a class="{% if sort == 'title' %} active {% endif %}" href="{{ url_for('getArtist', artist=artist, page=page, sort='title', asc=rev) }}">title</a></th>
				<th><a class="{% if sort == 'played' %} active {% endif %}" href="{{ url_for('getArtist', artist=artist, page=page, sort='played', asc=rev) }}">played</a></th>
				<th><a class="{% if sort == 'last_played' %} active {% endif %}" href="{{ url_for('getArtist', artist=artist, page=page, sort='last_played', asc=rev) }}">Last played</a></th>
				{% for item in songs %}
				{% if songs.index(item) in range(page * items - items, page * items) %}
				<tr>
					<td>{{ item['id'] }}</td>
					<td><a href="{{ url_for('getTimestamps', id=item['id']) }}">{{ item['title'] }}</a></td>
					<td><span class="badge">{{ item['played'] }}</span></td>
					<td>{{ item['last_played'] }}</td>
				</tr>
				{% endif %}
				{%  endfor %}
			</table>

			<div class="pagination" style="{% if pages == 1 %}display: none; {% endif %}">
				<ul class="flex-container">
					{% if page != 1 %}
					<li><a href="{{ url_for('getArtist', artist=title, page=page - 1, sort=sort, asc=asc) }}"><span class="fas fa-angle-left"></span> Previous</a></li>
					{% else %}
					<li class="unactive"><span class="fas fa-angle-left"></span> Previous</li>
					{% endif %}

					<div>
						{% if pages < 5 %}
						<li><a href="{{ url_for('getArtist', artist=title, page=1, sort=sort, asc=asc) }}"><span class="fas fa-angle-double-left"></span> {{ 1 }}</a></li>
						<li>...</li>

						{% for i in range(pages) %}
						<li><a class="{% if page == i + 1 %} active {% endif %}" href="{{ url_for('getArtist', artist=title, page=i + 1, sort=sort, asc=asc) }}">{{ i + 1 }}</a></li>
						{% endfor %}

						<li>...</li>
						<li><a href="{{ url_for('getArtist', artist=title, page=pages, sort=sort, asc=asc) }}">{{ pages }} <span class="fas fa-angle-double-right"></span></a></li>
						{% else %}
							{% if page not in range(1, 3) and page not in range(pages-1, pages + 1) %}
							<li><a href="{{ url_for('getArtist', artist=title, page=1, sort=sort, asc=asc) }}"><span class="fas fa-angle-double-left"></span> {{ 1 }}</a></li>
							<li>...</li>

							{% for i in range(page - 3, page + 2) %}
							<li><a class="{% if page == i + 1 %} active {% endif %}" href="{{ url_for('getArtist', artist=title, page=i + 1, sort=sort, asc=asc) }}">{{ i + 1 }}</a></li>
							{% endfor %}

							<li>...</li>
							<li><a href="{{ url_for('getArtist', artist=title, page=pages, sort=sort, asc=asc) }}">{{ pages }} <span class="fas fa-angle-double-right"></span></a></li>
							{% elif page in range(1, 3) %}
							<li><a href="{{ url_for('getArtist', artist=title, page=1, sort=sort, asc=asc) }}"><span class="fas fa-angle-double-left"></span> {{ 1 }}</a></li>
							<li>...</li>

							{% for i in range(0, 5) %}
							<li><a class="{% if page == i + 1 %} active {% endif %}" href="{{ url_for('getArtist', artist=title, page=i + 1, sort=sort, asc=asc) }}">{{ i + 1 }}</a></li>
							{% endfor %}

							<li>...</li>
							<li><a href="{{ url_for('getArtist', artist=title, page=pages, sort=sort, asc=asc) }}">{{ pages }} <span class="fas fa-angle-double-right"></span></a></li>
							{% else %}
							<li><a href="{{ url_for('getArtist', artist=title, page=1, sort=sort, asc=asc) }}"><span class="fas fa-angle-double-left"></span> {{ 1 }}</a></li>
							<li>...</li>

							{% for i in range(pages-5, pages) %}
							<li><a class="{% if page == i + 1 %} active {% endif %}" href="{{ url_for('getArtist', artist=title, page=i + 1, sort=sort, asc=asc) }}">{{ i + 1 }}</a></li>
							{% endfor %}

							<li>...</li>
							<li><a href="{{ url_for('getArtist', artist=title, page=pages, sort=sort, asc=asc) }}">{{ pages }} <span class="fas fa-angle-double-right"></span></a></li>
							{% endif %}
						{% endif %}
					</div>

					{% if page != pages %}
					<li><a href="{{ url_for('getArtist', artist=title, page=page + 1, sort=sort, asc=asc) }}">Next <span class="fas fa-angle-right"></span></a></li>
					{% else %}
					<li class="unactive">Next <span class="fas fa-angle-right"></span></li>
					{% endif %}
				</ul>
			</div>
		</section>

<!-- 		<footer>
			<a class="return" href="{{ url_for('index') }}"><span class="fas fa-angle-left"></span>Return</a>
			<span>/</span>
			<a class="return" href="{{ url_for('readmpdlist', page=1, sort='played', asc=0)}}">Tracks</a>
			<span>/</span>
			<a class="return" href="{{ url_for('getArtistList', page=1, sort='played', asc=0) }}">Artists</a>
		</footer>
 -->
	</body>
</html>