<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
	</head>
	<body>
		<h1 class=""><span class="user">{{ user }}</span>:<span class="tilde">~</span> echo Hello World!</h1>

		<section id="mpd">
			<section id="playing">
				<div class="current">
					<h2>Currently playing</h2>
					{% if title %}
					<p>{{ songtitle }}</p>
					{% else %}
					<p>Nothing</p>
					{% endif %}
				</div>
				<div class="mpd-stats">
					<div>
						<h2>MPD status</h2>
						{% for stat in stats %}
						<p>{{ stat }}</p>
						{% endfor %}
					</div>
					<div>
						<!-- <h2>MPDlist status</h2> -->
						<p>Played tracks: {{ songsplayed }}</p>
						<p>Unique tracks: {{ tracks }}</p>
					</div>
				</div>
			</section>

			<section id="graph">
				<figure>
				    <embed class="chart" type="image/svg+xml" src="{{ chart }}" />
			    </figure>
			</section>

			<section id="last-played">
				<table >
				{% for item in last_played %}
				
					<tr>
						<td>{{ item['id'] }}</td>
						<td><a href="{{ url_for('getArtist', artist=item['artist'], page=1, sort='played', asc=0) }}">{{ item['artist'] }}</a> - <a href="{{ url_for('getTimestamps', id=item['id']) }}">{{ item['title'] }}</a></td>
						<td>{{ item['timestamp'] }}</td>
					</tr>

				{% endfor %}
					<tr>
						<td></td>
						<td><a href="{{ url_for('readmpdlist', page=1, sort='timestamp', asc=0) }}">...</a></td>
						<td></td>
					</tr>
				</table>
			</section>
			
		</section>

		<section id="bookmarks" class="info">
			<h2 class="section-title"><span class="fas fa-ellipsis-h"></span>Bookmarks</h2>
			<div class="flex-container">
				{% for group in favourites %}
				<div class="{{ group }} group">
					<h3>{{ group }}</h3>
					<ul>
						{% for item in favourites[group] %}
						<li><a href="{{ item['url'] }}"><span class="{{ item['icon'] }}"></span>{{ item['name'] }}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endfor %}
			</div>
		</section>

		<section id="toplist" class="info">
			<h2 class="section-title"><span class="fas fa-ellipsis-h"></span>Top tracks</h2>
			<table>
				{% for item in toplist %}
				{% if item['place'] == 1 or toplist[item['place'] - 1]['played'] == toplist[0]['played']%}
				<tr class="top">
				{% else %}
				<tr>
				{% endif %}
					<td>{{ item['place'] }}</td>
					<td><a href="{{ url_for('getArtist', artist=item['artist'], page=1, sort='played', asc=0) }}">{{ item['artist'] }}</a> - <a href="{{ url_for('getTimestamps', id=item['id']) }}">{{ item['title'] }}</a></td>
					<td><span class="badge">{{ item['played'] }}</span></td>
				</tr>
				{%  endfor %}
			</table>
			<span>Show all</span>
			<a class="return" href="{{ url_for('readmpdlist', page=1, sort='played', asc=0) }}"><!-- <span class="fas fa-clipboard-list"></span> -->tracks</a>
			<span>/</span>
			<a class="return" href="{{ url_for('getArtistList', page=1, sort='played', asc=0) }}">artists</a>
		</section>	
	</body>
</html> 