<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
	</head>
	<body>
		<header>
			<a class="return" href="{{ url_for('index') }}"><span class="fas fa-angle-left"></span>Return</a>
			<span>/</span>
			<a class="return" href="{{ url_for('readmpdlist', page=1, sort='played', asc=0)}}">Track list</a>
			<span>/</span>
			<h1>Timestamps</h1>
		</header>

		<section id="timestamps" class="term">
			<div class="info">
				<h2>TRACK: <span><a href="{{ url_for('getArtist', artist=song['artist'], sort='played', asc=0) }}">{{ song['artist'] }}</a> - {{ song['title'] }}</span></h2>
				<p>Song was played: <span>{{ song['played'] }}
					{% if song['played'] == 1%}
						time
					{% else %}
						times
					{% endif %}
				</span></p>
				<p>id: <span>{{ song['id'] }}</span></p>
			</div>
			<div class="timestamp-lst">
				<!-- <h2 class="section-title"><span class="fas fa-bars"></span>Last played:</h2> -->
				<ol>
					{% for timestamp in timestamps %}
					<li>{{ timestamp }}</li>
					{% endfor %}
				</ol>
			</div>
		</section>
		
		<footer>
			<a class="return" href="{{ url_for('index') }}"><span class="fas fa-angle-left"></span>Return</a>
			<span>/</span>
			<a class="return" href="{{ url_for('readmpdlist', page=1, sort='played', asc=0)}}">Track list</a>
		</footer>

	</body>
</html>
